@charset "ISO-8859-1";

html, body {
  padding: 0;
  margin: 0;
}



.hide-me {
  visibility: hidden;
  opacity: 0;
  transform: scale(.75);
}

h1 {
  margin-top: 0;
  font-size: 2.4em;
  font-weight: normal;
  display: inline-block;
  color : #046380;
}

.head4{
  color : #046380;
	
}

.container
{
    width:75%;height:auto;
}

td {
    width: 355px;
}

.azul {
  background-color: #046380;
  color: #FFF;
  border: none;
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 4px;
/*  box-shadow: 2px 2px 0 #034154; */
  margin-left: 18px; 
  position: relative;
  top: -10px;
  margin-right:auto; 
  margin-left:auto;
}

#parameters{
	margin-top: 0;
  font-size: 1.6em;
  font-weight: normal;
  display: inline-block;
}

body {
  font-family: Helvetica, sans-serif;
  padding: 50px 10%;
}

button {
  background-color: #046380;
  color: #FFF;
  border: none;
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  box-shadow: 2px 2px 0 #034154;
  margin-bottom: 10px;
  margin-left: 18px;
  transition: opacity .4s ease-out, transform .4s ease-out, visibility .4s ease-out;
  position: relative;
  top: -10px;
}

button:hover {
  background-color: #034F66;
}

button:active {
  background-color: #034154;
  box-shadow: none;
  position: relative;
  top: -8px;
  left: center;
}

p {
  padding: 4px 0 2px 8px;
  line-height: 1;
  list-style: none;
  margin: 0; 
}